<div class="jumbotron">
  <h2>ONNIT</h2>
  <p class="lead">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ClsjxOF_YZM" frameborder="0" allowfullscreen></iframe>  </p>
  <p><a class="btn btn-lg btn-success" ng-href="http://fbuy.me/edisi" target="_blank">Take me to ONNIT!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Reebok</h4>
  <p>

    <a target="_blank" href="http://shareasale.com/r.cfm?b=858720&amp;u=887174&amp;m=34288&amp;urllink=&amp;afftrack=">
        <img src="http://static.shareasale.com/image/34288/2560x1440_cf_2.jpg" border="0" width="100%"/>
    </a>

  </p>
</div>
